* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color: black;
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav {
	background-color: #e5e5e1;
	border-radius: 0;
	border: 2px solid black;
	/*margin-bottom: 0;*/
}
.navbar-brand h1 { /* FOOD, LCC */
  	font-family: 'Lora', serif;
  	color: black;
  	font-size: 1.7em;
  	font-weight: bold;
   	margin-top: 0;
  	margin-bottom: 0;
  	margin-left: 10px;
  	line-height: unset;
}
.container {
	padding: 0;
	margin: 0 20px 0;
}
#collapsable-nav {
	padding: 0;
	margin: 0 -20px 0;

}
#nav-list {
  margin: 0;
}
#nav-list li {
  color: black;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
}
#nav-list li:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
#collapsable-nav ul hr {
	width: 100%;
	border-top: 2px solid black;
	margin: 0 auto 0;
}
/*END HEADER*/

/*TITLE*/
h2 {
	font-family: 'Lora', serif;
  	color: black;
  	font-size: 2em;
  	font-weight: bold;
   	margin-top: 0;
  	margin-bottom: 0;
  	text-align: center;
}
/*END TITLE*/

/*MAIN CONTENT*/
#content {
	background-color: #e5e5e1;
	margin: 20px;
}

h3 {
	font-family: 'Lora', serif;
  	color: black;
  	font-size: 1.5em;
  	font-weight: bold;
   	margin-top: 0;
  	margin-bottom: 0;
  	text-align: center;
  	padding-top: 15px;
}
p {
	padding: 20px;
}
#content {
	position: relative;
}
#content > p {
	padding-bottom: 50px;
}
.menu-jump {
	position: absolute;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	text-transform: uppercase;
	width: 12%;
	font-size: 1.5vw;
	bottom: 10px;
	left: 17px;
}
.menu-jump a:hover, .menu-jump:hover {
	text-decoration: none;
	background-color: #b8ecf2;
	color: white;
}
