* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color: black;
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav {
	background-color: #e5e5e1;
	border-radius: 0;
	border: 2px solid black;
	/*margin-bottom: 0;*/
}
.navbar-brand h1 { /* FOOD, LCC */
  	font-family: 'Lora', serif;
  	color: black;
  	font-size: 1.7em;
  	font-weight: bold;
   	margin-top: 0;
  	margin-bottom: 0;
  	line-height: unset;
}
.container {
	padding: 0;
	margin: 0 20px 0;
}
#collapsable-nav {
	padding: 0;
	margin: 0 -20px 0;

}
#nav-list {
  margin: 0;
}
#nav-list li {
  color: black;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
}
#nav-list li:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar: hover {
	background-color: green;
}
#collapsable-nav ul hr {
	width: 100%;
	border-top: 2px solid black;
	margin: 0 auto 0;
}
/*END HEADER*/

/*TITLE*/
h2 {
	font-family: 'Lora', serif;
  	color: black;
  	font-size: 2em;
  	font-weight: bold;
   	margin-top: 0;
  	margin-bottom: 0;
  	text-align: center;
}
/*END TITLE*/

/*MAIN CONTENT*/
#content {
	background-color: #e5e5e1;
	margin: 20px;
}

h3 {
	font-family: 'Lora', serif;
  	color: black;
  	font-size: 1.5em;
  	font-weight: bold;
   	margin-top: 0;
  	margin-bottom: 0;
  	text-align: center;
}
p {
	padding: 20px;
}